   .Sec5MainBody {
        margin-top: 200px;
        margin-left: 100px;
      }
  
  .Questions {
    /* font-family: 'Axiforma'; */
    display: flex;
    justify-content: space-around;
  }
  .Topq1
  {
    width: 142px;
    height: 34px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 350%;
    text-transform: uppercase;
    color: #B0B0C0;
    flex: none;
    order: 0;
    flex-grow: 0;

  }

  .Topq2
  {
    width: 388px;
    height: 62px;
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    color: #181B32;
    
    flex: none;
    order: 1;
    flex-grow: 0;

  }