.sec3 {
        font-family: 'Axiforma', sans-serif;
        margin-left: 100px;
        /* display: flex; */
        margin-top: 132px;
}

.sec31
{
  
    /* position: absolute; */
width: 127px;
height: 34px;

/* Subtitle 1 */

font-family: 'Axiforma';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 429%;
/* or 34px */

text-transform: uppercase;

/* Outline dark */

color: #B0B0C0;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.sec32
{
    /* position: absolute; */
    width: 425px;
height: 62px;

/* H2 */

font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 3%;


color: #181B32;

flex: none;
order: 1;
flex-grow: 0;

}

.sec39
{
    display: flex;
}
.sec33{
   /* display: flex; */
   
   padding: 40px 60px 40px 20px;
   /* margin-right: 900px; */
}

.secd34
{
 border-radius: 30px;
}

.secd35
{
    /* position: absolute; */
width: 209px;
height: 36px;
left: calc(50% - 209px/2 - 70.5px);
top: calc(50% - 36px/2 - 25.24px);
font-family: 'Axiforma';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #181B32;

}

.sec40
{
    display: flex;
}
.secd36
{
/* position: relative; */
/* position: absolute; */
box-sizing: border-box;

border-radius: 6px;
width: 34px;
height: 34px;
left: 0px;
top: 52px;

/* background: url(../images/t3.png); */
/* Background - White */

border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 13px rgba(45, 48, 56, 0.1)); 
}

.secd37
{
    /* position: absolute; */
width: 304px;
left: calc(50% - 304px/2 + 23px);
top: 60.69%;
bottom: 0%;
font-family: 'Axiforma';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 190%;
color: #666680;

mix-blend-mode: normal;
}
